<div{% if rtl %} dir="ltr"{% endif %}>
  <h1>About <a href="{{ url_for('index') }}">PrEYEvacy</a></h1>

  <p>
    PrEYEvacy is a search engine that uses other search engines, pretty nifty huh?
  </p>

  <p>More about PrEYEvacy...</p>

  <ul>

  <hr />

  <h2>Why use PrEYEvacy?</h2>

  <ul>
    <li>
      PrEYEvacy may not offer you as personalised results as Google, but it doesn't
      generate a profile about you.
    </li>
    <li>
      PrEYEvacy doesn't care about what you search for, never shares anything with a
      third party, and it can't be used to compromise you.
    </li>
  </ul>

  <p>
    If you do care about privacy, want to be a conscious user, or otherwise
    believe in digital freedom, make PrEYEvacy your default search engine or run it
    on your own server
  </p>

  <h2 id='add to browser'>How to set as the default search engine?</h2>

  <p>
    PrEYEvacy supports <a href="https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md">OpenSearch</a>.
    For more information on changing your default search engine, see your browser's documentation:
  </p>

  <ul>
    <li><a href="https://support.mozilla.org/en-US/kb/add-or-remove-search-engine-firefox">Firefox</a></li>
    <li><a href="https://support.microsoft.com/en-us/help/4028574/microsoft-edge-change-the-default-search-engine">Microsoft Edge</a></li>
    <li>Chromium-based browsers <a href="https://www.chromium.org/tab-to-search">only add websites that the user navigates to without a path.</a>
  </ul>

</div>
{% include "__common__/aboutextend.html" ignore missing %}
